@page
@model ParkingManagementWebApp.Pages.ParkingInfos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParkingInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.CheckInTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.CheckInTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.CheckOutTime)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ParkingInfo.CheckOutTime.CompareTo(Model.ParkingInfo.CheckInTime) >= 0)
            {
                @Html.DisplayFor(model => model.ParkingInfo.CheckOutTime)
            }
            else
            {
                <b>None</b>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.IsMonthly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.IsMonthly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.HaveVehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.HaveVehicle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.Cc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.Cc.Ccid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.Pricing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.Pricing.DurationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.Slot.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingInfo.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingInfo.Vehicle.VehicleId)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsStaff)
    {
        <a asp-page="/ParkingInfos/Index">Back to List</a>
    }
    @if (!Model.IsStaff)
    {
        <a asp-page="/ParkingInfos/History">Back to List</a>
    }
</div>
<br />
@if (!Model.IsStaff && Model.ParkingInfo.Status.Equals("Active"))
{
    <div>
        <div><b>Change Details</b></div>
        <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
            <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
            <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Slot" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Change Slot" class="btn btn-primary" />
            </div>
        </form>
        @if (@Model.ParkingInfo.CheckOutTime.Year > 2000)
        {
            <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
                <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
                <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Extend" />
                <div class="form-group" style="margin-top: 10px;">
                    <input type="submit" value="Extend Time" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
}
@if (!Model.IsStaff && Model.ParkingInfo.Status.Equals("Booked"))
{
<div>
    <div><b>Change Details</b></div>
    <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
        <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
        <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Slot" />
        <div class="form-group" style="margin-top: 10px;">
            <input type="submit" value="Change Slot" class="btn btn-primary" />
        </div>
    </form>
    <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
        <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
        <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Extend" />
        <div class="form-group" style="margin-top: 10px;">
            <input type="submit" value="Extend Time" class="btn btn-primary" />
        </div>
    </form>
</div>
}

@if (Model.IsStaff && Model.ParkingInfo.Status.Equals("Active"))
{
    <div>
        <div><b>Change Details</b></div>
        <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
            <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
            <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Slot" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Change Slot" class="btn btn-primary" />
            </div>
        </form>
        @*@if (@Model.ParkingInfo.CheckOutTime.Year > 2000)
        {
            <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
                <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
                <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Extend" />
                <div class="form-group" style="margin-top: 10px;">
                    <input type="submit" value="Extend Time" class="btn btn-primary" />
                </div>
            </form>
        }*@
    </div>
    <div>
        <div><b>Change Status</b></div>
        <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
            <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
            <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Toggle" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Change Have Vehicle" class="btn btn-primary" />
            </div>
        </form>
        <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
            <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
            <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Finished" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Change to Finished" class="btn btn-primary" />
            </div>
        </form>
    </div>
}
@if (Model.IsStaff && Model.ParkingInfo.Status.Equals("Booked"))
{
    <div>
        <div><b>Change Details</b></div>
        <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
            <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
            <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Slot" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Change Slot" class="btn btn-primary" />
            </div>
        </form>
        @*<form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
            <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
            <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Extend" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Extend Time" class="btn btn-primary" />
            </div>
        </form>*@
    </div>
    <div>
        <div><b>Change Status</b></div>
        @if (Model.ParkingInfo.CheckInTime.CompareTo(DateTime.Now) <= 0)
        {
            <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
                <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
                <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Active" />
                <div class="form-group" style="margin-top: 10px;">
                    <input type="submit" value="Change to Active" class="btn btn-primary" />
                </div>
            </form>
        }

        <form method="post" style="display:inline-block; margin-top:10px; margin-left: 10px;">
            <input type="hidden" asp-for="EditParkingInfoForm.ParkingInfoId" class="form-control" id="slotValue" value="@Model.ParkingInfo.ParkingInfoId" />
            <input type="hidden" asp-for="EditParkingInfoForm.EditAction" class="form-control" id="slotValue" value="Cancelled" />
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Change to Cancelled" class="btn btn-primary" />
            </div>
        </form>
    </div>
}

