@page
@model ParkingManagementWebApp.Pages.ParkingInfos.HistoryModel

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].CheckInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].CheckOutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].IsMonthly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].HaveVehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].Cc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].Pricing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingInfo[0].Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkingInfo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td>
                    @if (item.CheckOutTime.CompareTo(item.CheckInTime) >= 0)
                    {
                        @Html.DisplayFor(modelItem => item.CheckOutTime)
                    }
                    else
                    {
                        <b>None</b>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMonthly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HaveVehicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cc.Ccid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pricing.DurationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slot.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ParkingInfoId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
