@page
@model ParkingManagementWebApp.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsResident)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsResident)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Status == true)
    {
        <a asp-page="./Delete" asp-route-id="@Model.User.Ccid">Disable</a>
        <a class="text-black-50">|</a>
        <a asp-page="./Residency" asp-route-id="@Model.User.Ccid">Change Resident Status</a>
        <a class="text-black-50">|</a>
        <a asp-page="./Index">Back to List</a>
    }
    @if (Model.Status == false)
    {
        <a asp-page="./Delete" asp-route-id="@Model.User.Ccid">Enable</a>
        <a class="text-black-50">|</a>
        <a asp-page="./Residency" asp-route-id="@Model.User.Ccid">Change Resident Status</a>
        <a class="text-black-50">|</a>
        <a asp-page="./Index">Back to List</a>
    }

</div>
