@page
@model ParkingManagementWebApp.Pages.Managers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Manager</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manager) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @if (@Model.IsAdmin == true)
                {
                    @if (item.Status == true)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Username">Disable</a>
                        <a class="text-black-50">|</a>
                        <a asp-page="./Details" asp-route-id="@item.Username">Details</a>
                    }
                    @if (item.Status == false)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Username">Enable</a>
                        <a class="text-black-50">|</a>
                        <a asp-page="./Details" asp-route-id="@item.Username">Details</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
