@page
@model ParkingManagementWebApp.Pages.Vehicles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Vehicle</h1>
@if (@Model.IsStaff == false)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Cc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicle)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cc.Ccid)
                </td>
                <td>
                    @if (@Model.IsStaff == false && @Model.CheckVehicle(item.VehicleId) == false)
                    {
                        <a asp-page="./Details" asp-route-id="@item.VehicleId">Details</a>
                    }
                    @if (@Model.IsStaff == true || @Model.CheckVehicle(item.VehicleId) == true)
                    {
                        <a asp-page="./Details" asp-route-id="@item.VehicleId">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
