@page
@model ParkingManagementWebApp.Pages.ParkingInfos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Confirm</h1>

<h4>Confirm your Parking Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkingInfo.Ccid" class="control-label"></label>
                <input asp-for="ParkingInfo.Ccid" class="form-control" value="@Model.ParkingInfoConfirm.Ccid" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.VehicleId" class="control-label"></label>
                <input asp-for="ParkingInfo.VehicleId" class="form-control" value="@Model.ParkingInfoConfirm.VehicleId" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.SlotId" class="control-label"></label>
                <input asp-for="ParkingInfo.SlotId" class="form-control" value="@Model.ParkingInfoConfirm.SlotId" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.PricingId" class="control-label"></label>
                <input asp-for="ParkingInfo.PricingId" class="form-control" value="@Model.ParkingInfoConfirm.PricingId" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.CheckInTime" class="control-label"></label>
                <input asp-for="ParkingInfo.CheckInTime" class="form-control" value="@Model.ParkingInfoConfirm.CheckInTime" readonly hidden/>
                <b style="display:block;">@Html.DisplayFor(model => model.ParkingInfoConfirm.CheckInTime)</b>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.CheckOutTime" class="control-label"></label>
                <input asp-for="ParkingInfo.CheckOutTime" class="form-control" value="@Model.ParkingInfoConfirm.CheckOutTime" readonly hidden />
                @if (@Model.ParkingInfoConfirm.CheckOutTime.Year < 2000)
                {
                    <b style="display:block;">None</b>
                }
                else
                {
                    <b style="display:block;">@Html.DisplayFor(model => model.ParkingInfoConfirm.CheckOutTime)</b>
                }
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.IsMonthly" class="control-label"></label>
                <input asp-for="ParkingInfo.IsMonthly" class="form-control" value="@Model.ParkingInfoConfirm.IsMonthly" readonly hidden/>
                <b style="display:block;">@Html.DisplayFor(model => model.ParkingInfoConfirm.IsMonthly)</b>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.HaveVehicle" class="control-label"></label>
                <input asp-for="ParkingInfo.HaveVehicle" class="form-control" value="@Model.ParkingInfoConfirm.HaveVehicle" readonly hidden/>
                <b style="display:block;">@Html.DisplayFor(model => model.ParkingInfoConfirm.HaveVehicle)</b>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.Status" class="control-label"></label>
                <input asp-for="ParkingInfo.Status" class="form-control" value="@Model.ParkingInfoConfirm.Status" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ParkingInfo.TotalPrice" class="control-label"></label>
                <input asp-for="ParkingInfo.TotalPrice" class="form-control" value="@Model.ParkingInfoConfirm.TotalPrice" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-page="/ParkingInfos/Booking" style="display: inline-block">Back to Booking</a>
</div>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
