@page
@model ParkingManagementWebApp.Pages.ParkingInfos.ExtendTimeModel
@{
    ViewData["Title"] = "Extend Time";
}

<h1>Extend Time</h1>

@if (@Model.ParkingInfo.IsMonthly)
{
    <h4>Please choose the number of months you want to extend: </h4>
    <span class="text-danger">@TempData["ErrorMessage"]</span>
    <form method="post">
        <input type="hidden" asp-for="ParkingInfoId" class="form-control" value="@Model.ParkingInfo.ParkingInfoId" />
        <div class="form-group">
            <label asp-for="ExtendMonthly" class="control-label">Number of months (1 or higher): </label>
            <input asp-for="ExtendMonthly" class="form-control" style="width: 300px;" min="1" />
            <span asp-validation-for="ExtendMonthly" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <input type="submit" value="Extend" class="btn btn-primary" />
        </div>
    </form>
}
@if (!@Model.ParkingInfo.IsMonthly)
{
    <h4>Please choose the new End Date: </h4>
    <span class="text-danger">@TempData["ErrorMessage"]</span>
    <form method="post">
        <input type="hidden" asp-for="ParkingInfoId" class="form-control" value="@Model.ParkingInfo.ParkingInfoId" />
        <div class="form-group">
            <label asp-for="ExtendEndDate" class="control-label">New End Date</label>
            <input asp-for="ExtendEndDate" class="form-control" style="width: 300px;" />
            <span asp-validation-for="ExtendEndDate" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <input type="submit" value="Extend" class="btn btn-primary" />
        </div>
    </form>
}

<a asp-page="./Details" asp-route-id="@Model.ParkingInfo.ParkingInfoId">Back to Details</a>



