@page
@model ParkingManagementWebApp.Pages.Slots.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    #page:hover{
        text-decoration:none;
    }
</style>
<h1>Slots</h1>
@if (@Model.Floor == 1)
{
    <button class="btn-primary" style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" class="text-white" style="text-decoration:none;" asp-page="./Index" asp-route-id=1>Floor 1</a>
    </button>
    <button style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" style="text-decoration: none;" asp-page="./Index" asp-route-id=2>Floor 2</a>
    </button>
    <button style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" style="text-decoration: none;" asp-page="./Index" asp-route-id=3>Floor 3</a>
    </button>
}
@if (@Model.Floor == 2)
{
    <button style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" asp-page="./Index" asp-route-id=1>Floor 1</a>
    </button>
    <button class="btn-primary" style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" class="text-white" style="text-decoration: none;" asp-page="./Index" asp-route-id=2>Floor 2</a>
    </button>
    <button style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" style="text-decoration: none;"asp-page="./Index" asp-route-id=3>Floor 3</a>
    </button>
}
@if (@Model.Floor == 3)
{
    <button style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" style="text-decoration: none;" asp-page="./Index" asp-route-id=1>Floor 1</a>
    </button>
    <button style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" style="text-decoration: none;" asp-page="./Index" asp-route-id=2>Floor 2</a>
    </button>
    <button class="btn-primary" style="border-radius: 12px; padding: 5px 12px 5px 12px; border-color: blue;">
        <a id="page" class="text-white" style="text-decoration: none;" asp-page="./Index" asp-route-id=3>Floor 3</a>
    </button>
}

<br />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slot[0].Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot[0].Position)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Slot[0].IsOccupied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot[0].IsBook)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Slot[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Slot)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.IsOccupied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBook)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @if (@item.IsActive == true)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.SlotId">Disable</a>
                        <a class="text-black-50">|</a>
                        <a asp-page="./Details" asp-route-id="@item.SlotId">Details</a>
                    }
                    @if (@item.IsActive == false)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.SlotId">Active</a>
                        <a class="text-black-50">|</a>
                        <a asp-page="./Details" asp-route-id="@item.SlotId">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
