@page
@model ParkingManagementWebApp.Pages.Pricings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pricing[0].DurationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pricing[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pricing[0].VehicleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pricing) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DurationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PricingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PricingId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
